.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.border {
  width: 30%;
  border: 14px solid brown;
}
h1 {
  text-align: center;
  font-size: 400%;
  color: brown;

}
h2 {
  font-family: verdana;
  text-align: center;
  font-size: 300%;
  color: brown;
  font-weight: bold
}